

.header-placeholder {
	height: 77px;
	background: $red url(../img/bg-giraffe.svg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	@include respond-to( $bp-m ) {
		height: 134px;
	}

	@include respond-to( $bp-xl ) {
		height: 172px;
	}
}

header {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	max-width: 1918px;
	margin: 0 auto;
	transition: all 500ms ease-in-out;
	background: white;

	.spacer {
		height: 10px;

		@include respond-to( $bp-l ) {
			height: 20px;
		}

		@include respond-to( $bp-xl ) {
			height: 30px;
		}
	}

	.header-inner {
		@include respond-to( $bp-m ) {
			display: flex;
			align-items: center;
		}

		.logo {
			padding: 10px 80px 10px 8%;

			img {
				width: 100px;
				transition: all 500ms ease-in-out;
			}

			@include respond-to( $bp-m ) {
				flex: 1 1 40%;
				padding: 20px 40px;

				img {
					width: 180px;
				}
			}

			@include respond-to( $bp-l ) {
				flex: 1 1 30%;
			}

			@include respond-to( $bp-xl ) {
				padding: 20px 20px 20px 8%;

				img {
					width: 220px;
				}
			}
		}

		nav {
			@include clearfix;
			position: relative;

			.request {
				display: none;

				@include respond-to( $bp-m ) {
					display: block;
					text-align: right;
					padding-left: 10px;

					a {
						border: 3px solid $red;
						position: relative;
						border-radius: 22px;
						background: $red;
						padding: 10px 20px;

						&::before {
							background: none;
							border: 3px solid white;
							border-radius: 17px;
							content: "";
							display: block;
							position: absolute;
							top: 2px;
							left: 2px;
							right: 2px;
							bottom: 2px;
							pointer-events: none;
						}
					}
				}
			
				@include respond-to( $bp-l ) {
					flex: 1;
				}
			}
			

			@include respond-to( $bp-m ) {
				flex: 1 1 60%;
				padding-right: 40px;
			}

			@include respond-to( $bp-l ) {
				flex: 1 1 70%;
				display: flex;
			}
			
			@include respond-to( $bp-xl ) {
				padding: 0 8% 0 0;
			}

			button {
				position: absolute;
				right: 20px;
				top: -60px;
				width: 40px;
				height: 40px;
				border: 0;
				padding: 0;
				background: white;
				color: transparent;
				background: url(../img/icon-menu.png) center center no-repeat;
				overflow: hidden;
				text-indent: 1000px;
				
				@include respond-to( $bp-m ) {
					display: none;
				}
			}

			.nav-menu {
				display: none;
				position: relative;
				z-index: 1000;
				
				padding: 0;
				@include respond-to( $bp-m ) { padding: 0 0 0 30px; }
				@include respond-to( $bp-l ) { padding: 0 0 0 40px; }
				@include respond-to( $bp-xl ) { padding: 0 0 0 50px; }
				
				@include respond-to( $bp-m ) {
					display: block;
					text-align: right;
				}
				
				@include respond-to( $bp-l ) {
					flex: 1;
				}

				li {
					@include respond-to( $bp-m ) {
						box-shadow: none;
						position: relative;
						display: inline-block;
					}

					a {
						@include font-medium;
						display: block;
						padding: 8px 5px;
						font-size: 18px;
						line-height: 22px;
						color: black;
						text-decoration: none;
						width: 100%;
						transition: 400ms color ease-in-out;
						background-color: transparent;
						text-align: center;

						@include respond-to( $bp-m ) {
							display: inline-block;
							text-align: left;
							padding: 12px 10px;
						}

						@include respond-to( $bp-xl ) {
							font-size: 20px;
							padding: 12px 12px;
						}
					}

					&:hover, &.open {
						a {
							color: $red;
						}

						ul.sub-menu {
							@include respond-to( $bp-m ) {
								display: block;
							}
						}
					}

					ul.sub-menu {
						display: none;
						margin-bottom: 3px;
						box-shadow: 0 20px 20px rgba( $grey-light, .4 );
						opacity: .9;

						@include respond-to( $bp-m ) {
							position: absolute;
							left: 0;
							top: 54px;
							width: 100%;
							background-color: $grey;
							@include clearfix;
						}

						li {
							display: block;
							width: 100%;

							a {
								font-size: 15px;
								line-height: 18px;
								display: block;
								padding: 10px 5px;

								@include respond-to( $bp-m ) {
									padding: 10px;

									&:hover {
										background-color: lighten( $grey, 10% );
									}
								}

								@include respond-to( $bp-l ) {
									padding: 10px 15px;
								}
							}
						}
					}
				}
			}
		}
	}

	&.scrolled {
		box-shadow: 0 10px 20px rgba( black, .2 );
		
		.logo img {
			width: 120px;
		}
	}
}