

.form-container {
    background: url(../img/bg-contact.svg) center center no-repeat;
    background-size: cover;
    @include padding;

    h2 {
        margin-bottom: 30px;
        opacity: 0;
        transition: all 500ms ease-in-out;

        &.visible {
            opacity: 1;
        }
    }

    .form-inner {
        @include respond-to( $bp-m ) {
            display: flex;
            align-items: center;

            .form {
                flex: 1 1 60%;
                opacity: 0;
                transition: all 500ms ease-in-out;

                &.visible {
                    opacity: 1;
                }

                .button {
                    background: $red !important;
                    text-transform: uppercase !important;
                    font-family: "futura-pt", sans-serif !important;
                    font-weight: 700 !important;
                    font-size: 1.2em !important;
                    padding: 10px 15px 9px !important;
                    border-radius: 0 !important;
                    transition: opacity 400ms ease-in-out !important;

                    &:hover {
                        opacity: .8 !important;
                    }
                }
            }

            .content {
                flex: 1 1 40%;
                padding-left: 5%;
                opacity: 0;
                transition: all 500ms ease-in-out;

                &.visible {
                    opacity: 1;
                }
            }
        }
    }

}

