

.header-container {
    position: relative;
    overflow: hidden;

    @include respond-to( $bp-m ) {
        &:before {
            position: absolute;
            left: -25%;
            top: 0;
            bottom: 0;
            width: 25%;
            transition: left 7s ease-in-out;
            content: '';
            background: url(../img/giraph-walk.gif) center center no-repeat;
            background-size: contain;
            z-index: 2;
        }
    }

    &.molecule:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: transparent url(../img/bg-molecule.svg) center center no-repeat;
        background-size: cover;
        z-index: 1;
    }

    &.visible:before {
        left: 5%;
    }

    .header {
        @include padding;
        text-align: center;
        position: relative;
        z-index: 3;

        @include respond-to( $bp-l ) {
            padding: 6% 20%;
        }

        @include respond-to( $bp-xl ) {
            padding: 8% 25%;
        }

        @include respond-to( $bp-xxl ) {
            padding: 8% 30%;
        }

        h1, p {
            opacity: 0;
            transition: 2s opacity ease-in-out;

            &.visible {
                opacity: 1;
            }
        }


    }

    &.red.giraffe {
        background: $red url(../img/bg-giraffe.svg) center center no-repeat;
        background-size: cover;
        background-attachment: fixed;

        * {
            color: white;
        }
    }
}

