

.partner {
    @include padding;
    margin-bottom: 40px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: -40px;
        right: 0;
        left: 0;
        background: $red url(../img/bg-giraffe.svg) center center no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    @include respond-to( $bp-s ) {
        display: flex;
        align-items: center;
		padding: 4% 8%;
        margin-bottom: 80px;

        .logo {
            flex: 1 1 30%;
            margin-right: 5%;
            opacity: 0;
            transition: all 1s ease-in-out;
            
            &.visible {
                opacity: 1;
            }
        }

        .content {
            flex: 1 1 65%;
            padding-left: 5%;
            border-left: 3px solid rgba( $grey, .2 );
            opacity: 0;
            transition: all 1s ease-in-out;
            
            &.visible {
                opacity: 1;
            }
        }

        &:after {
            height: 80px;
            bottom: -80px;
        }
    }
}

