

.spacer {
    height: 30px;

    &.giraffe {
        background: url(../img/bg-giraffe.svg) center center no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    &.red {
        background-color: $red;
    }
}

