

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   85% { transform: rotate(0deg); }
   90% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


.what {
    @include padding;
    text-align: center;
    background: url(../img/bg-chemistry-basic.svg) center center no-repeat;
    background-size: cover;

    h2 {
        opacity: 0;
        transition: 500ms opacity ease-in-out;

        &.visible {
            opacity: 1;
            transition: 500ms opacity ease-in-out;
        }
    }

    .intro {
        padding-bottom: 3%;
        opacity: 0;

        &.visible {
            opacity: 1;
            transition: 500ms opacity ease-in-out;
        }
    }

    .icons {
        .icon {
        }

        @include respond-to( $bp-m ) {
            display: flex;

            .icon {
                flex: 0 0 33.3333%;
                position: relative;
                transition: 1s all ease-in-out;
                margin-left: -30%;
                opacity: 0;

                &:before {
                    content: '';
                    width: 20%;
                    height: 20px;
                    position: absolute;
                    left: -10%;
                    background: url(../img/arrow-what.png) right center no-repeat;
                    background-size: cover;
                    top: 75px;
                    opacity: 0;
                    transition: 2000ms opacity ease-in-out;
                }

                &:first-child:before {
                    display: none;
                }

                .icon-image-inner img {
                    display: none;
                    animation: wiggle 2.5s infinite;
                }

                .icon-content {
                    transition: 2s opacity ease-in-out;
                    opacity: 0;
                }
                
                &.visible {
                    margin-left: 0;
                    opacity: 1;

                    .icon-content {
                        opacity: 1;
                    }

                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        @include respond-to( $bp-l ) {
            .icon {
                &:before {
                    width: 34%;
                    left: -17%;
                }
            }
        }

        .icon {
            padding: 0 1.5%;

            .icon-image {
                width: 150px;
                height: 150px;
                margin: 10px auto;
                display: flex;
                align-items: center;
                border-radius: 50%;

                &.red {
                    background: $red;
                }

                &.black {
                    background: black;
                }
                
                &.grey {
                    background: $grey-dark;
                }

                .icon-image-inner {
                    flex: 1;
                    padding: 20px;
                }
            }
        }
    }
}

