

.who {
    background: $red url(../img/bg-giraffe.svg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
	padding: 120px 8%;

	@include respond-to( $bp-s ) {
		padding: 6% 8%;
	}

    .title {
        background: white;
        text-align: center;
        margin-left: -10%;
        margin-right: -10%;
        padding: 10px 0;
        transition: all 1s ease-in-out;
        opacity: 0;

        &.visible {
            opacity: 1;
        }

        @include respond-to( $bp-s ) {
            z-index: 1;
        }

        @include respond-to( $bp-l ) {
            top: 18%;
        }

        h2 {
            display: inline-block;
        }
    }

    .who-people {
        background: white;
        padding: 3px;
        
        @include respond-to( $bp-s ) {
            position: relative;
        }

        @include respond-to( $bp-s ) {
            &:before {
                position: absolute;
                left: -30%;
                bottom: 0;
                width: 30%;
                height: 70%;
                opacity: 0;
                transition: all 1s ease-in-out;
                content: '';
                background: url(../img/giraffe-reaching.svg) bottom center no-repeat;
                background-size: contain;
            }

            &.visible:before {
                left: 0;
                opacity: 1;
            }
        }


        .person {
            margin-bottom: 3px;
            cursor: pointer;
            transition: all 600ms ease-in-out;
            opacity: 0;

            &.visible {
                opacity: 1;
            }
        }

        .collaborators {
            .person:last-child {
                margin-bottom: 0;
            }

            @include respond-to( $bp-s ) {
                position: relative;
            }

            &:after {
                @include respond-to( $bp-s ) {
                    @include font-bold;
                    font-size: 1.2em;
                    line-height: 1.4em;
                    content: "Featured Collaborators";
                    position: absolute;
                    right: 2%;
                    width: 20%;
                    bottom: 30%;
                    color: white;
                    opacity: 0;
                    transition: all 1500ms ease-in-out;
                }

                @include respond-to( $bp-l ) {
                    font-size: 2em;
                    bottom: 25%;
                }

                @include respond-to( $bp-xxl ) {
                    font-size: 2.4em;
                }
            }
            &.visible:after {
                @include respond-to( $bp-s ) {
                    opacity: 1;
                }
            }
        }

        @include respond-to( $bp-s ) {
            padding: 0;
            background: transparent;
            margin-top: -4px;

            .person {
                &:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }

    .person {
        aspect-ratio: 1 / 1;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 3px;
        position: relative;

        .abbrev {
            position: absolute;
            top: 10%;
            left: 6%;
            color: white;
            @include font-bold;
            text-shadow: 0 0 20px rgba( black, .8 );
            font-size: 2em;
        }

        .person-content {
            display: none;
        }
    }

    @include respond-to( $bp-s ) {
        .primary, .secondary, .collaborators {
            display: flex;

            .person {
                flex: 1;
                margin-bottom: 0;
                border: 5px solid white;
                border-left: 0;
                position: relative;
                z-index: 5;

                &:first-child {
                    border-left: 5px solid white;
                }
            }
        }

        .primary {
            padding-right: 25%;
        }

        .secondary {
            padding-left: calc( 25% - 3px );
            margin-top: -5px;
        }

        .collaborators {
            margin-top: 10%;
            padding: 0 25% 0 40%;
        }
    }
}

