

.work-container {
    background: white url(../img/bg-chemistry-complex.svg) center center no-repeat;
    background-size: cover;
    @include padding;
    position: relative;
    z-index: 2;

    .work-title {
        padding-bottom: 20px;

        @include respond-to( $bp-m ) {
            padding-bottom: 40px;
        }
    }

    h2 {
        @include respond-to( $bp-m ) {
            opacity: 0;
            transition: 500ms opacity ease-in-out;

            &.visible {
                opacity: 1;
            }
        }
    }

    .work {
        @include respond-to( $bp-s ) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -2%;
        }

        .work-item {
            margin-bottom: 10px;
            cursor: pointer;

            img {
                display: block;
            }

            @include respond-to( $bp-s ) {
                flex: 0 0 48%;
                margin: 0 2% 2% 0;
            }

            @include respond-to( $bp-m ) {
                opacity: 0;
                transition: 500ms opacity ease-in-out;

                &.visible {
                    opacity: 1;
                }
            }

            @include respond-to( $bp-l ) {
                flex: 0 0 31.3333%;
                margin: 0 2% 2% 0;
            }

            .item-description {
                display: none;
            }
        }
    }
}


